<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Domain Searcher</title>
        <link rel="stylesheet" href="styles/index.css" />
    </head>
    <body>
        <div class="background">
            <div class="title"><h1>Domain Searcher</h1></div>
            <div class="main">
                <form action="/searched" method="post">
                    <input class="input" type="search" name="search" />
                    <input class="button" type="submit" value="SEARCH" />
                </form>
            </div>
            <footer>
                <div class="contact-links">
                    <a href="mailto:rino.bago@gmail.com">Contact</a>
                </div>
                <p class="copyright">© 2025 Rino Bago</p>
            </footer>
        </div>

        <script src="../index.js"></script>
    </body>
</html>
